<div class="people">
  <div class="head">
    <h1>What people
      <span>say ?</span>
    </h1>

    <h1 class="reflect">What people
      <span>say ?</span>
    </h1>
  </div>


  <div class="grid">
    <figure class="effect-steve">
      <img src="https://source.unsplash.com/random" alt="img29" />
      <figcaption>
        <h5>
          <span>name name</span>
        </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, temporibus pariatur vitae quasi voluptas maxime
          fugit recusandae nesciunt id libero?</p>
      </figcaption>
    </figure>
    <figure class="effect-steve">
      <img src="https://source.unsplash.com/random" alt="img33" />
      <figcaption>
        <h5>
          <span>name name</span>
        </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, temporibus pariatur vitae quasi voluptas maxime
          fugit recusandae nesciunt id libero?</p>
      </figcaption>
    </figure>
    <figure class="effect-steve">
      <img src="https://source.unsplash.com/random" alt="img33" />
      <figcaption>
        <h5>
          <span>name name</span>
        </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, temporibus pariatur vitae quasi voluptas maxime
          fugit recusandae nesciunt id libero?</p>
      </figcaption>
    </figure>
  </div>
  <div class="row">
      <div id="Stories">
          <div id="SuccessStories">
              <div id="SuccessStoriesWord">Success Stories</div>
              <a href="#">
                  <div id="SuccessStoriesButton">Read more</div>
              </a>
          </div>
      </div>
      <div class="row" id="GradsImage">
          <div id="GradsUpImage"></div>
          <div id="GradsDownImage"></div>
      </div>
      <div id="GradsSlide">
          <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators2" data-slide-to="0" class=""></li>
                  <li data-target="#carouselExampleIndicators2" data-slide-to="1" class="active"></li>
                  <li data-target="#carouselExampleIndicators2" data-slide-to="2" class=""></li>
                  <li data-target="#carouselExampleIndicators2" data-slide-to="3" class=""></li>
                  <li data-target="#carouselExampleIndicators2" data-slide-to="4" class=""></li>
              </ol>
              <div class="carousel-inner">
                  <div class="carousel-item">
                      <div id="GradSlideTop">
                          <p>RBK imparts essential skill technical and non-technical skills demanded by industry.
                          Technical skills include: Javascript and associated frameworks including MongoDB, Express, Angular, NodeJS, Backbone, React and HTML/CSS
                          Non-technical skills include: soft skills (communication, collaboration, ethics, professionalism), autonomous (self) learning skills, problem solving skills and critical thinking skills.
                          An important dividend of the training is English fluency.</p>
                      </div>
                      <br>
                      <div id="gradSlideBottom">
                          
                          <img id="line" src="images/line.png">
                          <br>
                          <div class="row" id="gradInfo">
                              <img id="GradPicture" src="images/image.jpg">
                              <p id="GradText">
                                  <span id="gradName">Samer Salmeh</span><br><span id="gradSpecialized">Softwere Engnear</span><br><span id="gradCompany">BriteCore Inc.</span>
                              </p>
                          </div>
                      </div>
                  </div>

                  <div class="carousel-item active">
                      <div id="GradSlideTop">
                          <p>RBK imparts essential skill technical and non-technical skills demanded by industry.
                          Technical skills include: Javascript and associated frameworks including MongoDB, Express, Angular, NodeJS, Backbone, React and HTML/CSS
                          Non-technical skills include: soft skills (communication, collaboration, ethics, professionalism), autonomous (self) learning skills, problem solving skills and critical thinking skills.
                          An important dividend of the training is English fluency.</p>
                      </div>
                      <br>
                      <div id="gradSlideBottom">
                          
                          <img id="line" src="images/line.png">
                          <br>
                          <div class="row" id="gradInfo">
                              <img id="GradPicture" src="images/image.jpg">
                              <p id="GradText">
                                  <span id="gradName">Samer Salmeh</span><br><span id="gradSpecialized">Softwere Engnear</span><br><span id="gradCompany">BriteCore Inc.</span>
                              </p>
                          </div>
                      </div>
                  </div>

                  <div class="carousel-item">
                      <div id="GradSlideTop">
                          <p>RBK imparts essential skill technical and non-technical skills demanded by industry.
                          Technical skills include: Javascript and associated frameworks including MongoDB, Express, Angular, NodeJS, Backbone, React and HTML/CSS
                          Non-technical skills include: soft skills (communication, collaboration, ethics, professionalism), autonomous (self) learning skills, problem solving skills and critical thinking skills.
                          An important dividend of the training is English fluency.</p>
                      </div>
                      <br>
                      <div id="gradSlideBottom">
                          
                          <img id="line" src="images/line.png">
                          <br>
                          <div class="row" id="gradInfo">
                              <img id="GradPicture" src="images/image.jpg">
                              <p id="GradText">
                                  <span id="gradName">Samer Salmeh</span><br><span id="gradSpecialized">Softwere Engnear</span><br><span id="gradCompany">BriteCore Inc.</span>
                              </p>
                          </div>
                      </div>
                  </div>

                  <div class="carousel-item">
                      <div id="GradSlideTop">
                          <p>RBK imparts essential skill technical and non-technical skills demanded by industry.
                          Technical skills include: Javascript and associated frameworks including MongoDB, Express, Angular, NodeJS, Backbone, React and HTML/CSS
                          Non-technical skills include: soft skills (communication, collaboration, ethics, professionalism), autonomous (self) learning skills, problem solving skills and critical thinking skills.
                          An important dividend of the training is English fluency.</p>
                      </div>
                      <br>
                      <div id="gradSlideBottom">
                          
                          <img id="line" src="images/line.png">
                          <br>
                          <div class="row" id="gradInfo">
                              <img id="GradPicture" src="images/image.jpg">
                              <p id="GradText">
                                  <span id="gradName">Samer Salmeh</span><br><span id="gradSpecialized">Softwere Engnear</span><br><span id="gradCompany">BriteCore Inc.</span>
                              </p>
                          </div>
                      </div>
                  </div>

                  <div class="carousel-item">
                      <div id="GradSlideTop">
                          <p>RBK imparts essential skill technical and non-technical skills demanded by industry.
                          Technical skills include: Javascript and associated frameworks including MongoDB, Express, Angular, NodeJS, Backbone, React and HTML/CSS
                          Non-technical skills include: soft skills (communication, collaboration, ethics, professionalism), autonomous (self) learning skills, problem solving skills and critical thinking skills.
                          An important dividend of the training is English fluency.</p>
                      </div>
                      <br>
                      <div id="gradSlideBottom">
                          
                          <img id="line" src="images/line.png">
                          <br>
                          <div class="row" id="gradInfo">
                              <img id="GradPicture" src="images/image.jpg">
                              <p id="GradText">
                                  <span id="gradName">Samer Salmeh</span><br><span id="gradSpecialized">Softwere Engnear</span><br><span id="gradCompany">BriteCore Inc.</span>
                              </p>
                          </div>
                      </div>
                  </div>

              </div> 
          </div>
      </div>
  </div>
</div>